replicaCount: 1

image:
  repository: ceo-backend
  pullPolicy: Never
  tag: "v100"

service:
  type: NodePort
  port: 5000
  targetPort: 5000
  nodePort: 30005

resources:
  requests:
    cpu: "100m"
    memory: "256Mi"
  limits:
    cpu: "500m"
    memory: "512Mi"


livenessProbe:
  httpGet:
    path: /
    port: 5000
  initialDelaySeconds: 45
  periodSeconds: 10

readinessProbe:
  httpGet:
    path: /
    port: 5000
  initialDelaySeconds: 30
  periodSeconds: 10