replicaCount: 1

image:
  repository: localhost:32000/ceo-backend
  pullPolicy: IfNotPresent
  tag: "latest"

service:
  type: NodePort
  port: 8080       
  targetPort: 8080  
  nodePort: 30005  

resources:
  requests:
    cpu: "100m"
    memory: "256Mi"
  limits:
    cpu: "500m"
    memory: "512Mi"

livenessProbe:
  httpGet:
    path: /
    port: 8080     
  initialDelaySeconds: 60  
  periodSeconds: 15
  failureThreshold: 5     

readinessProbe:
  httpGet:
    path: /
    port: 8080
  initialDelaySeconds: 40  
  periodSeconds: 15
