replicaCount: 1

image:
  repository: ci-cd-demo
  pullPolicy: IfNotPresent
  tag: "38"

service:
  type: NodePort
  port: 8080
  targetPort: 8080
  nodePort: 30005

resources:
  requests:
    cpu: "100m"
    memory: "256Mi"
  limits:
    cpu: "500m"
    memory: "512Mi"
