replicaCount: 1

image:
  repository: localhost:32000/ceo-backend
  pullPolicy: IfNotPresent
  tag: "latest"
service:
  type: NodePort
  port: 5000
  targetPort: 5000
  nodePort: 30005

resources:
  requests:
    cpu: "100m"
    memory: "256Mi"
  limits:
    cpu: "500m"
    memory: "512Mi"
