replicaCount: 1

image:
  repository: localhost:32000/ceo-backend
  pullPolicy: IfNotPresent
  tag: 77

service:
  type: NodePort
  port: 8080
  targetPort: 8080
  nodePort: 30005

resources:
  requests:
    cpu: "100m"
    memory: "256Mi"
  limits:
    cpu: "500m"
    memory: "512Mi"
